<!DOCTYPE html>
<html>
	<head>
  		<title>Use Case to Use Case Maps!</title>
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>

	<body> 
      <div class="feature"> </div>
      <div class="content"> 
        <a href = "https://docs.google.com/spreadsheets/d/1yv8kNn5EYw9XyysAEM2t41mdD5CL1qT5N9HPjaHgkUY/export?format=xlsx" download="sample_template.xlsx">
          Click Here to Download Sample!
        </a>
      	<h1 align="center"> <u>Use Case Specification to Use Case Maps!</u> </h1>
        <form action = "http://localhost:5000/uploader" method = "POST" 
          enctype="multipart/form-data">
          <input type="file" name="file[]" multiple/>
          <br> <br>
          <input type="submit" value="Submit Files!"/>
          <br> <br>
        </form>
      </div>
  	</body>
</html>